.center.jumbotron.dark
  %h2 Comments
.center.jumbotron.dark
  - @article.comments.each do |comment|
    %p
      %strong= comment.user.name
    %p= comment.body
    - if current_user && current_user.admin?
      = button_to 'X', article_comment_path(comment.article, comment), { method: :delete, class: 'btn btn-primary green-btn pull-right', data: {confirm: 'Are you sure you want to delete your comment?'}}
    %div
      %small
        Created at #{comment.created_at}
    %hr/
