<% provide(:title, "About") %>
<div class='container'>
  <div class='center jumbotron dark'>
    <h1>About</h1>
  </div>
  <div class='center jumbotron dark'>
    <p>SongSpot was created using Ruby on Rails.
       Recommendations are based on Songs provided by you.
       These come directly from Spotify's API
    </p>
  </div>
</div>
