- provide(:title, 'About')
.container
  .center.jumbotron.dark
    %h1 About
  .center.jumbotron.dark
    %p SongSpot was created using Ruby on Rails. Recommendations are based on Songs provided by you. These come directly from Spotify's API
