<% provide(:title, "Contact") %>
<div class='container'>
  <div class='center jumbotron dark'>
    <h1>Contact</h1>
  </div>
  <div class='center jumbotron dark'>
    <p>Contact me over
      <a href="http://www.carlgreenwood.co.uk">here</a>.
    </p>
  </div>
</div>
