- provide(:title, 'Contact')
.container
  .center.jumbotron.dark
    %h1 Contact
  .center.jumbotron.dark
    %p
      Contact me over at
      = succeed '.' do
        %a{:href => 'http://www.carlgreenwood.co.uk' }http://www.carlgreenwood.co.uk
