<% provide(:title, "Help") %>
<div class='container'>
  <div class='center jumbotron dark'>
    <h1>Help</h1>
  </div>
  <div class='center jumbotron dark'>
    <p>WIP</p>
  </div>

  <div class='center dark header'>
    <h2>How to link to Spotify</h2>
  </div>
  <ol class='pull-left'>
  <div class='center dark header'>
    <li class='header'>Create an account or login</li>
    <div class='center jumbotron dark content'>
      <ul class='pull-left'>
        <li>Click Log In/Sign up in the top right corner of the page.</li>
        <li>If you've made an account please sign in.</li>
        <small>If you've forgotten your password please click the "Forgotten your password?" link.</small>
        <li>Otherwise please create an account by filling in all the fields on the page.</li>
      </ul>
    </div>
      <div class='center dark header'>
      <li>Go to your profile page</li>
        <ul class='content'>
          <li>Click your name in the top right corner of the page.</li>
        </ul>
    </ol>
  </div>
</div>
