- provide(:title, "Help")
.container
  .center.jumbotron.dark
    %h1 Help
  .center.jumbotron.dark
    %p WIP
  .center.dark.header
    %h2 How to link to Spotify
  %ol.pull-left
    .center.dark.header
      %li.header Create an account or login
      .center.jumbotron.dark.content
        %ul.pull-left
          %li Click Log In/Sign up in the top right corner of the page.
          %li If you've amde an acccount please sign in.
          %small If you've forgotten your password please click the 'Forgotten your password?' link
          %li Otherwise please create an account by filling in all the fields on the page.
    .center.dark.header
      %li Go to your Profile page.
      %ul.content
        %li Click your name in the top right corner of the page.
