<% provide(:title, "Home") %>
<div class='container'>
  <div class="center jumbotron dark">
    <h1>Welcome to SongSpot</h1>
    <h2>This is the home page for the SongSpot application.</h2>
  </div>
  <%= render 'show_article' %>
<% if current_user && current_user.admin? %>
  <%= button_to 'New Article', new_article_path, { method: :get, class: 'btn btn-primary blue-btn' } %>
<% end %>
