<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to SongSpot</h1>

  <h2>
    This is the home page for the SongSpot application.
  </h2>

<div class=container>

  <% @articles.each do |article| %>
  <div class=container>
      <h3><%= article.title %></h3>
      <p><%= article.text %></p>
      <%= link_to 'Show', article_path(article) %>
    </div>
    <p>===========================================</p>
  <% end %>
</div>
<% if current_user && current_user.admin? %>
  <%= link_to 'New article', new_article_path %>
<% end %>
