<% provide(:title, "Home") %>
<div class='container'>
  <% if current_user %>
    <marquee class='center dark'><p>WARNING - Due to changes to the Application's permission's please relink your acccount to Spotify from the user page. - WARNING </p></marquee>
  <% else %>
    <marquee class='center dark'><p>Welcome to the SongSpot application</p></marquee>
  <% end %>
  <div class="center jumbotron dark">
    <h1>Welcome to SongSpot</h1>
    <p>This is the home page for the SongSpot application.<p>
  </div>
  <%= render 'show_article' %>
<% if current_user && current_user.admin? %>
<div class='center jumbotron dark'>
  <%= button_to 'New Article', new_article_path, { method: :get, class: 'btn btn-primary green-btn' } %>
</div>
<% end %>
