<% provide(:title, "Positivity Rankings") %>
<div class="container">
  <div class='center jumbotron dark'>
    <h1>Positivity</h1>
    <% if current_user && current_user.positivity_score? %>
    <h3>Your Positivity Score: <%= (current_user.positivity_score * 100).round(2) %>/100</h3>
    <% end %>
  </div>
  <%= render 'positivity_table' %>
  <div class='center jumbotron dark' %>
    <% if current_user && current_user.admin? %>
      <%= button_to 'Send to Slack', slack_path, method: :get, class: 'btn btn-primary green-btn' %>
    <% end %>
  </div>
</div>
