<h3>Your favourite tracks</h3>
<div>
  <%= form_tag(display_playlist_path) do |f| %>
  <%= hidden_field_tag(:playlist_type, 'favourites') %>
  <p>Click Submit to see play your favourites!</p>
  <%= submit_tag 'Submit',class: 'btn btn-primary green-btn' %>
  <% end %>
</div>
