<footer class="footer">
  <small>SongSpot by <a href="http://www.carlgreenwood.co.uk/">Carl Greenwood</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Report a Bug", new_bug_path %>
    </ul>
  </nav>
</footer>
